:root {
  --background: hsl(0, 0%, 0%);
  --text-color: hsl(0, 0%, 100%);
  --button: hsl(258, 73%, 62%);
  --border: hsl(240, 6%, 17%);
  --border-menu-mobile: hsl(240, 7%, 68%);
  --border-menu-nav: hsla(240, 7%, 68%, 60%);
  --text-color-menu-mobile: hsl(240, 14%, 1%);

  font-family: "Manrope", sans-serif;
  font-size: 62.5%;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background);
}


main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.active {
  visibility: visible;
  display: flex;
}

.inactive {
  visibility: hidden;
  display: none;
}

a {
  text-decoration: none;
  color: #fff;
  /* transition: 0.3s; */
}

a:hover {
  opacity: 0.7;
}

/* --------------------- NAVIGATION -------------------- */


nav {
  padding: 26px;
  background-color: var(--background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-menu-nav);
}

nav div {
  cursor: pointer;
  display: none;

}


ul.nav-list {
  position: absolute;
  top: 89px;
  left: 0;

  width: 100%;

  display: flex;
  flex-direction: column;
  list-style: none;

}

.nav-list li {
  display: flex;

  font-size: 1.8rem;
  font-weight: 400;
 

  padding-inline: 3rem;
  padding-block: 1.7rem;
  border-bottom: 1px solid var(--border-menu-mobile);
  opacity: 0.6;
  z-index: 100;
}

.nav-list li:hover {
  border-left: 5px solid var(--button);

}

.nav-list li:hover,
.nav-list li a:hover {
  color: #fff;
  opacity: 1;
}


/* --------------------- MAIN -------------------- */


p {
  color: var(--text-color);
  font-size: 3rem;
  text-align: center;
  letter-spacing: 0.02rem;

  padding-block: 8.8rem;
  max-width: 29rem;
  margin: auto;
}

button {
  margin: auto;

  border-radius: .6rem;
  border: 1px solid var(--button);

  padding-block: 1rem;
  padding-inline: 3rem;
  
  display: flex;
  gap: 1rem;

  color: var(--text-color);
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.1rem;

}

.title h1 {
  margin: auto;
  padding-top: 8rem;

  color: white;
  text-align: center;
  font-size: 5rem;
  letter-spacing: -0.03rem;
}

.title p {
  padding-block: 0;
  text-shadow: -1px -1px 0 var(--button), 1px -1px 0 var(--button), -1px 1px 0 var(--button), 1px 1px 0 var(--button);
  color: #000000;
  font-size: 5rem;
  line-height: 68px;
  max-width: 100%;
}

div.coffee-logo img {
  width: 100%;
  background-color: transparent;
}

div.coffee-logo {
  background-image: url(./assets/blur-mobile.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


@media (min-width: 900px) {

}